body{
  font: 12px/1.5 Courier Prime, Courier, Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:#000000;
	color:#FFFFFF;
}

/* Global */
.container{
  width:95%;
  margin:auto;
  overflow:hidden;
}

hr {
    width: 100%;
    height: 0px;
    margin: 0 ;
    color: #FFFFFF;
    background: #FFFFFF;
}

a{
  color:#FFFFFF;
}

#blink {

  animation: blink 1s linear infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 0;
  }
  50.01%, 100% {
    opacity: 1;
  }
}

.indent1 {margin-left:10px;}

/* HEADER ################################################################## */
/* high device width (PC) ----------------------------*/
header{
	 margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
}

.logo {
  margin: 10px 10px 10px 10px;
	padding: 0 0 0 0;
}
.logo img{
	display: block;
}

.navigation  {
	font: 12px/1.5 Courier, Arial, Helvetica, sans-serif;
  display: flex;
  margin: 10px 10px 10px 10px;
	padding: 0 0 0 0;
	list-style: none;
	text-transform: uppercase;
}

.navigation a {
  display: block;
	margin: 0 10px 0 10px;
	padding: 0 0 0 0;
  color: white;
	text-decoration: none;
	letter-spacing: .05rem;
}

.navigation a:hover {
	background: #222222;
}

.current {
	font-weight: bold;
}

/* middle device width (tablet) ----------------------*/
@media all and (max-width: 550px) {
	.flex-container {
	flex-direction: column;
	}

	.logo {
		margin-bottom: 0
	}

	.navigation  {
		width: 100%;
		justify-content: space-around;
	}
}

/* small device width (smartphone) -------------------*/
@media all and (max-width: 350px) {
  .logo {
    align-self: center;
}
  .navigation {
    flex-direction: column;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/* FOOTER ################################################################## */

footer{
	border-top: #FFFFFF 2px solid;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 0px;
	color:#FFFFFF;
	background-color:#000000;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
#impressum{float: left;}
#powered{float: right;}

/* small device width (smartphone) -------------------*/
@media all and (max-width: 250px) {
	footer{
		flex-direction: column;
	}
	#impressum{float: center;}
	#powered{float: center;}
}
